# SPDX-FileCopyrightText: 2021 Daniel Laidig <laidig@control.tu-berlin.de>
#
# SPDX-License-Identifier: MIT

__pycache__
*.html~
.ipynb_checkpoints/
CMakeLists.txt.user
/.idea/
.DS_Store

/*.egg-info/
/build/
/docs/_build/
dist/
node_modules/

/qmt/cpp/*.so
/qmt/cpp/*.cpp
/qmt/cpp/*_src/*.so
/qmt/cpp/build-*/

/qmt/webapps/demo/*/package-lock.json
/qmt/webapps/view/*/package-lock.json

/examples/example_output/
/examples/calib/
